.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
#main
{
background-image: linear-gradient(to bottom right, red, yellow);
	background-repeat: no-repeat;
	 background-attachment: fixed;
  background-size: cover;
}
#createCard
{
	background-color: #f8f9d2;
background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}
#rudCard
{
	background-color: #00ffff;
}

.input-field{
	color: black;
    font-size: 50px;
}
::placeholder
{
	border-bottom: black;
	color:black;
    text-align: center;
}
label
{
	border-bottom: black;
	color:black;
    font-size: 20px;
}
/* You can add global styles to this file, and also import other style files */
form div.input-field input{
    padding-left: 15px !important;
    color: black;
    font-size: 20px;
}

input.ng-invalid.ng-dirty{
    border-bottom-color : white !important;
    box-shadow: 0 1px 0 0 white !important;
}

.input-field>label{
    font-size: 25px;
    font-weight: bold;
    color: black;

}

.btn-custom,.btn-custom:hover,.btn-custom:focus{
    background-color: black;
    color: black;
    font-size: 1.1rem;
    margin : 0px 5px;
    border: transparent solid 1px ;
    text-transform:none;
}

div.card{

    background-color : white;
    border-radius: 10px;
}

.vl {
    border-left: 2px solid white;
    height: 400px;
}

a.action-btn{
    color: white ;
    margin: 0px 5px;

}
a.action-btn:hover{
    cursor: pointer;
}



#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
  }