<div id="body" class="wrapper" style="background-image: linear-gradient(to bottom right, red, yellow);
	background-repeat: no-repeat;
	 background-attachment: fixed;
  background-size: cover;" >
  <div id="formContent" style="margin-top: 200px; margin-bottom: 300px; padding: 30px;">
    <h2 class="underlineHover"  routerLink="/login" style="float: left; margin-left: 80px;" routerLinkActive="active"> Sign In </h2>
    <h2 class="underlineHover"  routerLink="/signup" style="float: left; margin-left: 120px;" routerLinkActive="active">Sign Up </h2>
    <router-outlet></router-outlet>
  </div>
</div>